@charset "UTF-8";

:root{
    --cor0: #779EE6;
    --cor1: #6C72F0;
    --cor2: #A08BD9;
    --cor3: #7838A6;
    --cor4: #DE9AE6;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top,#417cfc , #8bb0ff, #6a98fd );
    height: 100%;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {   
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: white;
    height: 510px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    transition: width 0.5s, heigth 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
    min-height: 325px;
}

section#login > div#imagem {
    background-image: url(../imagens/fundo-login.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    display: block;
}

section#login > div#formulario {
    padding: 7px;
    display: block;
}

section#login > div#formulario > h1{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
section#login > div#formulario > p{
    font-size: 0.8em;
}

section#login > div#formulario > form{
    font-size: 0.7em;
}

form > div > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #228f4f;
    color: white;
    border-radius: 10px;
    margin: 2px 0px 0px;
    border: 1px solid #10773b;
}

form > div > input[type=submit]:hover{
    background-color: #1a6138;
    cursor: pointer;
}

form > div > input[type=submit]#esen{
    background-color: #3da8a8;
    border: 1px solid #147777;
}

form > div > input[type=submit]#esen:hover{
    background-color: #147777;
}

div.campo > span {
    width: 40px;
    padding: 7px;
}

div.campo > input{   
    font-size: 1.3em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 12px 5px px;
    transform: translateY(-7px);
}

form > div.campo{
    background-color: #5986e9;
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 40px;
    margin: 2px 0px 2px 0px;
    border: 1px solid #464a9e;
}

.campo > label{
    display: none;
}



